/* Font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
body {
	font-family: "Fredoka", sans-serif;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation */
.loader {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	display: inline-block;
	border-top: 6px solid #85e2f4;
	border-right: 6px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Calc */
.center{
	height: calc(100vh - 210px);
}