@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
body {
	font-family: "Fredoka", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 6px solid #85e2f4;
	border-right: 6px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}